<footer class="text-center font-small mt-4 wow fadeIn">

  <div>
    <div class="footer-div">
    </div>
    <div>
      <a href="#" class="h5 m-0 font-weight-light footer-item">Institucional</a>
    </div>
    <div>
      <a href="#" class="h5 m-0 font-weight-light footer-item">Ajuda</a>
    </div>
    <div>
      <a href="#" class="h5 m-0 font-weight-light footer-item">Compre pelo telefone</a>
    </div>
  </div>

  <!-- Social icons -->
  <div class="p-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="disclaimer">
    Copyright ©2020 www.choicemodas.com.br, TODOS OS DIREITOS RESERVADOS. Todo o conteúdo do site, todas as
    fotos, imagens, logotipos, marcas, dizeres, som, software, conjunto imagem, layout, trade dress, aqui
    veiculados são de propriedade exclusiva da Choice Modas. É vedada qualquer reprodução, total ou parcial, de
    qualquer elemento de identidade, sem expressa autorização. A violação de qualquer direito mencionado
    implicará na responsabilização cível e criminal nos termos da Lei. - A inclusão no carrinho não garante o
    preço e/ou a disponibilidade do produto. Caso os produtos apresentem divergências de valores, o preço válido
    é o exibido na tela de pagamento. Vendas sujeitas a análise e disponibilidade de estoque.
  </div>
  <!--/.Copyright-->

</footer>