{% load cart_template_tags %}

{% load static %}

<header class="container">
    <div class="d-lg-none d-md-none">
        <div class="overlay"></div>
        <nav class="m-menu bg-white fixed-top">
            <div
                class="container d-flex flex-row justify-content-around align-items-center py-3 border-bottom border-light">
                <div type="button" id="sidebarCollapse">
                    <img src="{% static 'img/svg/menu.svg' %}" alt="menu" class="icon-menu">
                </div>
                <a href="/" class="color-at">
                    <p class="logo-name ml-3">Choice Shoes</p>
                </a>
                <div class="d-flex justify-content-between">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'core:order-summary' %}">
                        <img src="{% static 'img/svg/heart.svg' %}" alt="menu" class="icon-menu">
                    </a>
                    <a href="{% url 'core:order-summary' %}">
                        <img src="{% static 'img/svg/cart.svg' %}" alt="menu" class="icon-menu">
                        <span class="badge badge-cart red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                    </a>
                    {% else %}
                    <a href="{% url 'account_login' %}">
                        <img src="{% static 'img/svg/heart.svg' %}" alt="menu" class="icon-menu">
                        <img src="{% static 'img/svg/cart.svg' %}" alt="menu" class="icon-menu">
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left">aaa</i>
            </div>
            <a href="/" class="color-at">
                <p class="logo-name ml-3">Choice Shoes</p>
            </a>

            <div class="list-unstyled components dropdown-mobile d-flex flex-column">
                <a class="pl-4 py-2 color-at" href="#pageMasculino" data-toggle="collapse"
                    aria-expanded="false">Masculino</a>
                <div class="collapse list-unstyled bg-gray" id="pageMasculino">
                    <a href="produtos/masculino/tenis" class="h5 m-0 font-weight-light footer-item">Tenis</a>
                    <a href="produtos/masculino/chuteiras" class="h5 m-0 font-weight-light footer-item">Chuteiras</a>
                    <a href="produtos/masculino/calcados" class="h5 m-0 font-weight-light footer-item">Calçados</a>
                </div>
                <a class="pl-4 py-2 color-at" href="#pageFeminino" data-toggle="collapse"
                    aria-expanded="false">Feminino</a>
                <div class="collapse list-unstyled bg-gray" id="pageFeminino">
                    <a href="produtos/feminino/tenis" class="h5 m-0 font-weight-light footer-item">Tenis</a>
                    <a href="produtos/feminino/chuteiras" class="h5 m-0 font-weight-light footer-item">Chuteira</a>
                    <a href="produtos/feminino/calcados" class="h5 m-0 font-weight-light footer-item">Calçados</a>
                </div>
                <a class="pl-4 py-2 color-at" href="#pageInfantil" data-toggle="collapse"
                    aria-expanded="false">Infantil</a>
                <div class="collapse list-unstyled bg-gray" id="pageInfantil">
                    <a href="produtos/infantil/tenis" class="h5 m-0 font-weight-light footer-item">Tenis</a>
                    <a href="produtos/infantil/chuteiras" class="h5 m-0 font-weight-light footer-item">Chuteiras</a>
                    <a href="produtos/infantil/calcados" class="h5 m-0 font-weight-light footer-item">Calçados</a>
                </div>
            </div>
        </nav>
        <div class="pt-4">
            <form class="form-inline mt-5">
                <input class="form-control search-input border-light" type="search"
                    placeholder="Qual seu tipo de calçado?" aria-label="Search">
                <button class="btn btn-search m-0" type="submit"><img src="{% static 'img/svg/search.svg' %}" alt="menu"
                        class="icon-search"></button>
            </form>
        </div>
    </div>
    <div class="d-lg-block d-md-block d-none fixed-top border-bottom border-light">
        <nav class="bg-white">
            <div class="container d-flex flex-row justify-content-around align-items-center py-3">
                <a href="/" class="color-at col-3">
                    <p class="logo-name">Choice Shoes</p>
                </a>
                <form class="form-inline col-8">
                    <input class="form-control search-input border-light" type="search"
                        placeholder="Qual seu tipo de calçado?" aria-label="Search">
                    <button class="btn btn-search m-0" type="submit"><img src="{% static 'img/svg/search.svg' %}"
                            alt="menu" class="icon-search"></button>
                </form>
                <div class="d-flex justify-content-around col-1">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'core:order-summary' %}">
                        <img src="{% static 'img/svg/heart.svg' %}" alt="menu" class="icon-menu">
                    </a>
                    <a href="{% url 'core:order-summary' %}">
                        <img src="{% static 'img/svg/cart.svg' %}" alt="menu" class="icon-menu">
                        <span class="badge badge-cart red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                    </a>
                    {% else %}
                    <a href="{% url 'account_login' %}">
                        <img src="{% static 'img/svg/heart.svg' %}" alt="menu" class="icon-menu">
                    </a>
                    <a href="{% url 'account_login' %}">
                        <img src="{% static 'img/svg/cart.svg' %}" alt="menu" class="icon-menu">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Masculino</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="produtos/masculino/tenis">Tenis</a>
                            <a class="dropdown-item" href="produtos/masculino/chuteiras">Chuteiras</a>
                            <a class="dropdown-item" href="produtos/masculino/calcados">Calçados</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Feminino</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="produtos/masculino/tenis">Tenis</a>
                            <a class="dropdown-item" href="produtos/masculino/chuteiras">Chuteiras</a>
                            <a class="dropdown-item" href="produtos/masculino/calcados">Calçados</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Infantil</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="produtos/masculino/tenis">Tenis</a>
                            <a class="dropdown-item" href="produtos/masculino/chuteiras">Chuteiras</a>
                            <a class="dropdown-item" href="produtos/masculino/calcados">Calçados</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="container">
        </div>
    </div>
</header>